.divPpal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.divSecond {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divPpal div img{
    width: 99px;
    height: 123px;
    padding-top: 4px;
}

.divPpal div button{
    margin-bottom: 5px;
    align-content: center;
}

.emptyCart{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emptyCart img{
    background-color: black;
    padding: 10px;
}


.emptyCart a{
    display: flex;
    border-radius: 8px;
    border: 1px solid;
    padding: 4px 6px;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
}

.emptyCart a:hover{
    background-color: purple;
    color: white;
}

.cleanCart{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

button, .endBuy{
    border-radius: 8px;
    padding: 4px 6px;
    border: 2px solid purple;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
button:hover, .endBuy:hover{
    background-color: purple;
    color: white;
}

.order{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order p{
    margin-bottom: 4px;
    margin-top: 50px;
}

h4, button, .endBuy{
    margin: 5px;

}
