.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.nav ul {   
    list-style: none;
    display: flex;
    width: 25%;
    justify-content: space-around;
}   

.reaper{
    font-size: 1.5em;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}