.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.nav ul {   
    list-style: none;
    display: flex;
    width: 30%;
    justify-content: space-around;
    padding: 0px;
}   

.reaper{
    font-size: 1.3em;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}
.logo{
    display: flex;
    flex-direction: column;
}

.logo img{
    background-color: black;
    padding: 4px    ;
}