.footer{
    background-color: rgb(85, 83, 83);
    padding: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 5px;
    color: rgb(211, 208, 203);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav ul {
    list-style: none;
    display: flex;
    width: 25%;
    justify-content: space-around;
}

.nav ul a{
    color: rgb(211, 208, 203);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.footer h5{
    text-align: center;
    margin: 2px;
    color: rgb(211, 208, 203);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}