* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    min-width: 100%;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor-main{
    background-color: red;
}
