*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;

}

.contador{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.agregarCarrito{
    display: flex;
}

.bottonSumaResta{
    display: flex;
    align-items:center;
}